#container {
  margin: 0;
  padding: 0;
}

#dragable {
  width: 800px;
  height: 757px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(USA_New_York_City_location_map.svg);
  transform-origin: top left;
}

#zoom-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#zoom-buttons > button {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
}

#zoom-buttons > button:first-child {
  margin-bottom: 10px;
}
